<div id="submit-header" data-role="header" data-theme="b">
    <a id="reports-next-btn" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left">Inicio</a>
    <h1>Ingresar</h1>
</div>

<div data-role="content">
    <% if ( FMS.isLoggedIn ) { %>
    <div id="signed_in_row">
        <p class="notopmargin">Estás registrado como <%= email %></p>
        <div id="err" class="nodisplay"></div>
        <div class="bottom-btn">
            <div id="botonEntidad_login" class="nodisplay">
                <input type="button" id="entidades_territoriales" name="entrar" value="Módulo Entidades" data-theme="b">
            </div>
            <input type="button" id="logout" name="logout" value="Cerrar Sesion" data-theme="b">
        </div>
    </div>
    <div id="password_row" class="nodisplay">
        <p class="notopmargin">
            Cerrar Sesión!
        </p>
        <% } else { %>
        <div id="password_row">
            <% } %>
            <form name="signinForm" class="inputcard" id="signinForm">
                <div>
                    <input data-role="none" type="email" value="" name="email" id="form_email" placeholder="Su email" required>
                </div>
                <div>
                    <input data-role="none" type="password" value="" name="password" id="form_password" placeholder="Su contraseña" required>
                </div>
                <div class="noborder">
                    <input type="submit" id="login" name="login" value="Iniciar Sesión" data-theme="b">
                </div>
            </form>
        </div>
        <!--cuando ingresa al sistema me muestra esta pantalla-->
        <div id="success_row" class="nodisplay">
            <p class="notopmargin">
                Bienvenido Sesión Iniciada
            </p>
            <div id="err" class="nodisplay"></div>
            <div class="bottom-btn">
                <div id="botonEntidad" class="nodisplay">
                    <input type="button" id="entidades_territoriales" name="entrar" value="Módulo Entidades" data-theme="b">
                </div>
                <input type="button" id="logout" name="logout" value="Cerrar Sesion" data-theme="b">
            </div>
        </div>
    </div>
</div>